:root {
    --x: 0deg;
}

body {
    margin: 0;
    border: none;
    padding: 10px;
    font-family: sans-serif;
    font-size: 16px;
    position: relative;
    min-height: calc(100vh - 100%);
    overflow-x: hidden;
}

.notificationDiv {
    position: fixed;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    transition-property: top;
    transition-duration: .3s;
    z-index: 100;
}

.notificationID1 {
    border: 2px solid white;
    border-radius: 10px;
    background-color: #CA2D2F;
    color: white;
    padding: .5rem 2rem;
}

.heading {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.heading h1 {
    font-size: 3rem;
    position: relative;
    margin-bottom: 0;
}

.heading h1 span {
    color: #01486b;
}

.heading h1::after {
    content: '';
    display: block;
    width: 10%;
    height: 3px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    background-color: black;
    animation: underline 2s 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

@keyframes underline {
    to {
        width: 100%;
    }

}

/*////////////////topicSelection///////////////*/
.topicsSelection {
    padding: 2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topicSelectionID1 {
    max-width: 1000px;
}

.topicsCheckboxes * {
    user-select: none;
}


.topicInput {
    display: inline-block;
    width: 300px;
}

.quantityDiv {
    margin: 2rem 0 1rem;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.getQuestionsDiv {
    margin: 0 1rem 1rem;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

#getQuestionsButton {
    border: 1px solid #075c88;
    padding: .5rem;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    background-color: #075c88;
    user-select: none;
}

#getQuestionsButton:active {
    transform: scale(.99);
}

/*//////////////////*/

/*//////////////////////*/
.me {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.me span {
    display: block;
    color: #01486b;
    font-weight: bold;
}

/*///////Flashcard////////////*/

:root {
    --i: 0;
}


.scene {
    max-width: 1000px;
    min-width: 100vw;
    display: flex;
    perspective: 800px;
    height: 500px;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    flex-direction: column;
    overflow: hidden;
}

.scene .card {
    width: 280px;
    height: 300px;
    color: white;
    transition: 1s ease-in-out;
    transform-style: preserve-3d;
    position: absolute;
    top: 100px;
    transform: rotateY(-103deg) translateZ(calc(-200px - var(--i) * 1px)) translateX(-100px);
    z-index: calc(0 - var(--i));
    /*border: 2px dashed black;*/
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.scene .card:first-of-type {
    /*z-index: 1;*/
    transform: rotateY(0);
    display: initial;
}

@media only screen and (max-width: 600px) {
.scene .card{
    display: none;
}
}

/*.scene .card:hover {*/
/*    transform: rotateY(0.5turn);*/
/*}*/

.scene .card .card__face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: 1s ease-in-out;
    -webkit-box-reflect: below 0 linear-gradient(transparent 83%, #00000024);
    border-radius: 10px;
}

.scene .card .card__face img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 80%;
}

.scene .card .card__face--back {
    transform: rotateY(0.5turn);
}

.card .buttons {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: rgba(0, 0, 0, 0.61);
}

.card .buttons * {
    cursor: pointer;
    user-select: none;
}

.card .q, .card .a {
    width: 100%;
    height: 100%;
    background-color: #01486b;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    /*align-items: center;*/
    text-align: center;
    overflow: scroll;
    /* word-break: keep-all; */
    justify-content: center;
    flex-direction: column;
}

.card .q {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.card .a p {
    height: 100%;
    width: 100%;
}

.card .q::-webkit-scrollbar, .card .a::-webkit-scrollbar {
    display: none;
}


.card:after {
    background-color: #075c88;
    /*background-image: -webkit-linear-gradient(hsla(0, 0%, 100%, .25), hsla(0, 0%, 0%, .25));*/
    bottom: 0;
    content: '';
    right: 0px;
    position: absolute;
    top: 0;
    width: 3px;
    z-index: -10;
    -webkit-transform: rotateY(-90deg);
    -webkit-transform-origin: 100% 50%;
}

.card:before {
    background-color: #075c88;
    /*background-image: -webkit-linear-gradient(hsla(0, 0%, 100%, .25), hsla(0, 0%, 0%, .25));*/
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 3px;
    -webkit-transform: translateZ(-5px);
}


/*///////Style belonging to latex rendering///////*/
latex-js{
    --marginrightwidth: 100% !important;
}